body {
  font-family: Garamond, serif;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

header {
  background-color: #00072D;
  color: white;
  text-align: center;
  padding: 20px;
}

header img {
  max-width: 100px;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #00072D;
  color: white;
}
